html {
  box-sizing: border-box;
}

h4 {
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.title {
  display: flex;
  align-items: center;
}

.title-img {
  padding-right: 5px;
  height: 50px;
  border-radius: 1rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(to right, #ddddf7, #eccae8, rgb(241, 225, 200));
}

.grid {
  display: flex;
  border-radius: 1rem;
  background: linear-gradient(to right, #8380e4, #e982db, rgb(236, 202, 150));
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 40%;
  padding: 30px;
  margin: 5px;
  background-color: white;
}

.token {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 40%;
  margin: 5px;
  background-color: white;
  height: 60px;
}

.player {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
}

.current {
  height: 120px;
  border-radius: 40%;
  background-color: white;
}

.score {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  justify-content: center;
}

.score-token {
  height: 50px;
  border-radius: 40%;
  background-color: white;
  margin-right: 1rem;
}

button {
  background: linear-gradient(to right, #029df5, #fa0ec6, #fa951e);
  border-radius: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
  border: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.swal-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.swal-title {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.swal-modal {
  border-radius: 1rem;
}
